<div class="portada">
    <div class="textos">
        <h1>¡Bienvenido a SPOTYSMALL!</h1>
        <p class="h2">Escucha la música que te gusta de tus artistas favoritos.</p>
    </div>
    <div class="botonera">
        <button class="btn btn-primary btn-lg" [routerLink]="['/artists',1]"><i class="bi bi-music-note-list h3"> Artistas</i></button>
        <button class="btn btn-primary btn-lg" [routerLink]="['/albums',1]"><i class="bi bi-book-half h3"> Albums</i></button>
    </div>
    <p class="correoContacto">Correo contacto administrador <span> admin&#64;admin.com</span></p>
</div>
