.principalCArtist{
    background-color: #FFFFE0;
    padding: 2rem 2rem;
    margin: 12rem 4rem;
    width: 80%;
}

form{
    display: block;
    justify-content: center;
}

input{
    width: 80%;
}

textarea{
    width: 80%;
}

.aster{
    color: red;
  }

  /* Breakpoints */
  @media screen and (max-width: 658px) {
    .principalCArtist{
        margin: 12rem 2rem;
        padding: 2rem 1rem;
    }
  }